body{
    margin-left: 300px;
    width: 80%;
    justify-content: center;
    background-image: url(https://previews.123rf.com/images/rclassenlayouts/rclassenlayouts1711/rclassenlayouts171100004/89388023-berlin-germany-october-2017-zalando-logo-on-a-box-zalando-is-a-german-electronic-commerce-company-se.jpg);
    background-size: cover;
    color: white;
    font-size: 30px;
      
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    height: 100px;
}
nav{
    width: 50%;
    height: 60px;
    border: 10px;
    border-color: black;
    background-color: rgb(218, 134, 9);
    text-align: center; 
    margin-right: 200px;
    padding-top: 20px;  
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
   padding-bottom: 30px;
}

form{
    width: 90%;
    align-items: center;
}
.mainform{
    width: 80%;
    align-content: center;
}
.progressbar{
    width: 90%;
    height: 30px;
    border: 1px rgb(224, 224, 224) solid;
}  
.inputsection{
    display: flex;
    flex: row;    
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.boxcontainer {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    
}
.selectcountry{
    margin-top: 30px;
    margin-bottom: 30px;
}
.selectcountry label{
    margin-left: 200px;    
}
.formitem label{
    margin-right: 30px;
}
.navbottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    
}
textarea{
    width: 600px;
    height: 150px;  
    
}
.description {
    margin-top: 50px;
    
}
.description p{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description label{
    font-weight: bold;
    font-size: 20px;
}
.sizecheckbox{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
#optionalbox{   
    position: relative;
    border-color: blueviolet;
}
input[type=checkbox]:checked ~ #optionalbox{
    position: absolute;
    margin-top: -9999px;
   margin-left: -9999px;
}
.shipping-toggle{
    display: none;
}
ul{
    list-style: none;
}

input[type=checkbox]:checked ~ .shipping-toggle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
  }

a{
    text-decoration: none; 
    margin-top: 30px;   
}

button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
}
.account{
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 50%;
}
#signup-fathi{
    
    float: right;
}
.righttable{
    float: right;
}



.lefttable{
    float: left;
}
.preference{
    margin-top: 100px;
    clear: both;

}
.smallbox{
    width: 50px;
    height: 40px;
}
.confirmationnavbottom{
    width: 80%;
}
.showroom{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-evenly;
}
.shoes img, .bag img, .jawellery img{
    width: 200px;
    height: 200px;
}